body {
            font-family: Georgia, serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('bg.gif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
           }
           
           
        #quiz-container {
          background-color: rgba(255, 255, 255, 0); 
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          padding: 25px;
          border-radius: 10px;
          text-align: center;
          max-width: 510px;
          width: 100%;
          position: relative;
          color: white;
        }
        
        #start-screen h1.h3 {
          font-size: 11px;
        }
        #question-image {
            width: 230px;
            height: 160px;
            border: 2px solid #ddd;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .btn {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border: 3px solid #ddd;
            border-radius: 8px;
        }
        #timer {
            font-size: 20px;
            margin-bottom: 10px;
        }
        #name-input {
            margin-bottom: 20px;
            padding: 10px;
            width: 200px;
            color: white;
        }
